.btn {

    button {
        padding: 10px 40px;
        border-radius: 5px 0 10px 10px;
        background: linear-gradient( #000, #36304A, #000);
        color: #fff;
        border: none;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
    }
}